<form #myForm="ngForm" (ngSubmit)="myForm.reset()">
  <input [(ngModel)]="des" type="text" name="des" required="required">
  &nbsp; &nbsp; &nbsp; &nbsp;
  <label for="pri">Set Priority</label>
  <input [(ngModel)]="pri" type="number" name="pri" min="1" max="5" required="required">
  1.Very Low&nbsp; &nbsp;
  2.Low&nbsp; &nbsp;
  3.Medium&nbsp; &nbsp;
  4.High&nbsp; &nbsp;
  5.Very High&nbsp; &nbsp;
  <div>
    <button (click)="saveit(des,pri,com)">Add Task</button>
    &nbsp; &nbsp; &nbsp;
    <button (click)="removeall()">Remove All</button>
    &nbsp; &nbsp; &nbsp;
    <button (click)="sortlist()">Sort By Priority</button>
    &nbsp; &nbsp; &nbsp;
    <button (click)="removecompleted()">Remove Completed Task</button>
  </div>
  <ul *ngFor="let l of items; index as i">
    {{items[i][0]}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Priority:{{items[i][1]}}
    &nbsp; &nbsp; &nbsp; &nbsp;
    <label for="i"> Mark as Complete
    </label>
    <input unchecked="true" (click)="mark(i)" type="checkbox" id="i" name="i" >
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <button (click)="Deleteit(i)">Delete</button>
  </ul>
</form>
<router-outlet></router-outlet>